{% extends 'base.html' %}
{% block title %}Register{% endblock %}
{% block content %}
<div class="container mx-auto mt-10">
    <div class="w-full md:w-1/2 mx-auto bg-white shadow-sm p-3 mt-10 mb-64">
        {% if messages %}
            {% for message in messages %}
                <div class="px-4 py-2 text-center  bg-red-100 text-red-500  rounded my-2 border border-red-500 ">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        <h1 class="text-2xl font-bold text-center mb-5 border-b border-gray-200 py-2">Register</h1>
        <form action="{% url 'register' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
                <div class="mb-4">
                    <label class="block text-sm font-medium text-gray-700" for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                    {% if field.errors %}
                        <div class="text-red-500">
                            {{ field.errors }}
                        </div>
                    {% endif %} 
                </div>
            {% endfor %}
            <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded w-full cursor-pointer hover:bg-blue-600 ">Register</button>
            <p class="text-center mt-2">Already have an account? <a href="{% url 'login' %}" class="text-blue-500">Login</a></p>
        </form>
    </div>
</div>
{% endblock %}
