{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Dashboard</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/output.css' %}" />
  </head>
  <body class="bg-gray-100 md:px-0 px-3">
    <!-- Navbar Starts  -->
    <nav class="mb-5">
      <div class="container mx-auto">
        <div
          class="flex justify-between items-center py-2 my-3 shadow-b-sm rounded flex-col md:flex-row"
        >
          <div>
            <h3 class="text-2xl font-semibold md:mb-0 mb-2">
              Admin Dashboard
            </h3>
          </div>
          <div class="flex items-center gap-3 flex-col md:flex-row">
            <a
              class="text-white font-semibold text-sm bg-rose-500 rounded px-2 py-1 flex items-center justify-center cursor-pointer"
              href="{% url 'create-event' %}"
            >
              Add Event
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor"
                class="size-4 ms-1"
              >
                <path
                  fill-rule="evenodd"
                  d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25ZM12.75 9a.75.75 0 0 0-1.5 0v2.25H9a.75.75 0 0 0 0 1.5h2.25V15a.75.75 0 0 0 1.5 0v-2.25H15a.75.75 0 0 0 0-1.5h-2.25V9Z"
                  clip-rule="evenodd"
                />
              </svg>
            </a>
            <a
              href="{% url 'category-list' %}"
              class="text-white font-semibold text-sm bg-blue-500 rounded px-2 py-1 flex items-center justify-center cursor-pointer"
            >
              Show Categorys
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor"
                class="size-4 ms-1"
              >
                <path
                  fill-rule="evenodd"
                  d="M5.25 2.25a3 3 0 0 0-3 3v4.318a3 3 0 0 0 .879 2.121l9.58 9.581c.92.92 2.39 1.186 3.548.428a18.849 18.849 0 0 0 5.441-5.44c.758-1.16.492-2.629-.428-3.548l-9.58-9.581a3 3 0 0 0-2.122-.879H5.25ZM6.375 7.5a1.125 1.125 0 1 0 0-2.25 1.125 1.125 0 0 0 0 2.25Z"
                  clip-rule="evenodd"
                />
              </svg>
            </a>
            <a
              href="{% url 'create-category' %}"
              class="text-white font-semibold text-sm bg-blue-500 rounded px-2 py-1 flex items-center justify-center cursor-pointer"
            >
              Add Category
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor"
                class="size-4 ms-1"
              >
                <path
                  fill-rule="evenodd"
                  d="M5.25 2.25a3 3 0 0 0-3 3v4.318a3 3 0 0 0 .879 2.121l9.58 9.581c.92.92 2.39 1.186 3.548.428a18.849 18.849 0 0 0 5.441-5.44c.758-1.16.492-2.629-.428-3.548l-9.58-9.581a3 3 0 0 0-2.122-.879H5.25ZM6.375 7.5a1.125 1.125 0 1 0 0-2.25 1.125 1.125 0 0 0 0 2.25Z"
                  clip-rule="evenodd"
                />
              </svg>
            </a>
            <a
              href="{% url 'users' %}"
              class="text-white font-semibold text-sm bg-blue-500 rounded px-2 py-1 flex items-center justify-center cursor-pointer"
            >
              Users
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor"
                class="size-4 ms-1"
              >
                <path
                  fill-rule="evenodd"
                  d="M5.25 2.25a3 3 0 0 0-3 3v4.318a3 3 0 0 0 .879 2.121l9.58 9.581c.92.92 2.39 1.186 3.548.428a18.849 18.849 0 0 0 5.441-5.44c.758-1.16.492-2.629-.428-3.548l-9.58-9.581a3 3 0 0 0-2.122-.879H5.25ZM6.375 7.5a1.125 1.125 0 1 0 0-2.25 1.125 1.125 0 0 0 0 2.25Z"
                  clip-rule="evenodd"
                />
              </svg>
            </a>
            <a
              href="{% url 'create-group' %}"
              class="text-white font-semibold text-sm bg-blue-500 rounded px-2 py-1 flex items-center justify-center cursor-pointer"
            >
              Add Group
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor"
                class="size-4 ms-1"
              >
                <path
                  fill-rule="evenodd"
                  d="M5.25 2.25a3 3 0 0 0-3 3v4.318a3 3 0 0 0 .879 2.121l9.58 9.581c.92.92 2.39 1.186 3.548.428a18.849 18.849 0 0 0 5.441-5.44c.758-1.16.492-2.629-.428-3.548l-9.58-9.581a3 3 0 0 0-2.122-.879H5.25ZM6.375 7.5a1.125 1.125 0 1 0 0-2.25 1.125 1.125 0 0 0 0 2.25Z"
                  clip-rule="evenodd"
                />
              </svg>
            </a>
            <a
              href="{% url 'group-list' %}"
              class="text-white font-semibold text-sm bg-blue-500 rounded px-2 py-1 flex items-center justify-center cursor-pointer"
            >
              Group List
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor"
                class="size-4 ms-1"
              >
                <path
                  fill-rule="evenodd"
                  d="M5.25 2.25a3 3 0 0 0-3 3v4.318a3 3 0 0 0 .879 2.121l9.58 9.581c.92.92 2.39 1.186 3.548.428a18.849 18.849 0 0 0 5.441-5.44c.758-1.16.492-2.629-.428-3.548l-9.58-9.581a3 3 0 0 0-2.122-.879H5.25ZM6.375 7.5a1.125 1.125 0 1 0 0-2.25 1.125 1.125 0 0 0 0 2.25Z"
                  clip-rule="evenodd"
                />
              </svg>
            </a>
            <a
              href="{% url 'logout' %}"
              class="text-white bg-rose-500 font-semibold text-sm  rounded px-2 py-1 flex items-center justify-center cursor-pointer"
            >
            Logout

              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-5"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M15.75 9V5.25A2.25 2.25 0 0 0 13.5 3h-6a2.25 2.25 0 0 0-2.25 2.25v13.5A2.25 2.25 0 0 0 7.5 21h6a2.25 2.25 0 0 0 2.25-2.25V15M12 9l-3 3m0 0 3 3m-3-3h12.75"
                />
              </svg>
            </a>
            <button
              class="text-gray-500 h-8 w-8 flex items-center justify-center cursor-pointer rounded-full hover:bg-gray-200"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M14.857 17.082a23.848 23.848 0 0 0 5.454-1.31A8.967 8.967 0 0 1 18 9.75V9A6 6 0 0 0 6 9v.75a8.967 8.967 0 0 1-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 0 1-5.714 0m5.714 0a3 3 0 1 1-5.714 0"
                />
              </svg>
            </button>
            <button
              class="text-white font-semibold text-sm bg-rose-500 rounded-full w-10 h-10 border border-3 border-white flex items-center justify-center"
            >
              {{user.username|slice:":1"|upper}}
            </button>
          </div>
        </div>
      </div>
    </nav>
    <!-- Navbar Ends  -->
   {% block content %}{% endblock %}
  </body>
</html>
