{% extends "dashboard/admin/admin-base.html" %}
{% block content %}
<section>
  <div class="container mx-auto mb-5">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-5">
      <!-- single status card starts -->
      <div class="single-card bg-white p-4 rounded shadow-b-sm">
        <div class="mb-3">
          <h4 class="text-sm text-gray-500 uppercase">
            Total Participant's
          </h4>
        </div>
        <div class="flex items-center justify-between">
          <div class="left-prtion">
            <h2 class="text-3xl text-gray-800 font-bold mb-2">
              {{total_participants}}
            </h2>
            {% comment %}
            <p class="text-xs text-gray-400">11 Last Month</p>
            {% endcomment %}
          </div>
          <div class="right-prtion">
            <div
              class="h-10 w-10 bg-blue-100 text-blue-700 rounded-full flex items-center justify-center"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M15.666 3.888A2.25 2.25 0 0 0 13.5 2.25h-3c-1.03 0-1.9.693-2.166 1.638m7.332 0c.055.194.084.4.084.612v0a.75.75 0 0 1-.75.75H9a.75.75 0 0 1-.75-.75v0c0-.212.03-.418.084-.612m7.332 0c.646.049 1.288.11 1.927.184 1.1.128 1.907 1.077 1.907 2.185V19.5a2.25 2.25 0 0 1-2.25 2.25H6.75A2.25 2.25 0 0 1 4.5 19.5V6.257c0-1.108.806-2.057 1.907-2.185a48.208 48.208 0 0 1 1.927-.184"
                />
              </svg>
            </div>
          </div>
        </div>
      </div>
      <!-- single status card ends -->
      <!-- single status card starts -->
      <a href="{% url 'admin-dashboard' %}?type=all">
        <div class="single-card bg-white p-4 rounded shadow-b-sm">
          <div class="mb-3">
            <h4 class="text-sm text-gray-500 uppercase">Total Event's</h4>
          </div>
          <div class="flex items-center justify-between">
            <div class="left-prtion">
              <h2 class="text-3xl text-gray-800 font-bold mb-2">
                {{n_of_total_events}}
              </h2>
              {% comment %}
              <p class="text-xs text-gray-400">11 Last Month</p>
              {% endcomment %}
            </div>
            <div class="right-prtion">
              <div
                class="h-10 w-10 bg-green-100 text-green-700 rounded-full flex items-center justify-center"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="size-9"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
                  />
                </svg>
              </div>
            </div>
          </div>
        </div>
      </a>
      <!-- single status card ends -->
      <!-- single status card starts -->
      <a href="{% url 'admin-dashboard' %}?type=upcoming">
        <div class="single-card bg-white p-4 rounded shadow-b-sm">
          <div class="mb-3">
            <h4 class="text-sm text-gray-500 uppercase">
              Number Of Upcoming Event's
            </h4>
          </div>
          <div class="flex items-center justify-between">
            <div class="left-prtion">
              <h2 class="text-3xl text-gray-800 font-bold mb-2">
                {{n_of_upcoming_events}}
              </h2>
              {% comment %}
              <p class="text-xs text-gray-400">11 Last Month</p>
              {% endcomment %}
            </div>
            <div class="right-prtion">
              <div
                class="h-10 w-10 bg-yellow-100 text-yellow-700 rounded-full flex items-center justify-center"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="size-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
                  />
                </svg>
              </div>
            </div>
          </div>
        </div>
      </a>
      <!-- single status card ends -->
      <!-- single status card starts -->
      <a href="{% url 'admin-dashboard' %}?type=past">
        <div class="single-card bg-white p-4 rounded shadow-b-sm">
          <div class="mb-3">
            <h4 class="text-sm text-gray-500 uppercase">
              Number Of Past Event's
            </h4>
          </div>
          <div class="flex items-center justify-between">
            <div class="left-prtion">
              <h2 class="text-3xl text-gray-800 font-bold mb-2">
                {{n_of_past_events}}
              </h2>
              {% comment %}
              <p class="text-xs text-gray-400">11 Last Month</p>
              {% endcomment %}
            </div>
            <div class="right-prtion">
              <div
                class="h-10 w-10 bg-purple-100 text-purple-700 rounded-full flex items-center justify-center"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="size-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="m4.5 12.75 6 6 9-13.5"
                  />
                </svg>
              </div>
            </div>
          </div>
        </div>
      </a>
      <!-- single status card ends -->
    </div>
  </div>
</section>
{% comment %} {{total_participants.filter(event__in=events).count}} {%
endcomment %}
<!-- Status Section Ends -->
{% comment %} ○ Their categories and participant counts. ● Viewing detailed
information for each event, including all associated participants. ● Adding
and updating events, participants, and categories through forms. {%
endcomment %} {% comment %} Today's event listing starts {% endcomment %} 
{%comment %} name = CharField(max_length=255) description = TextField()
image_link = CharField(max_length=255) date = DateField() time = TimeField()
location = CharField(max_length=255) category =
ForeignKey(Category,on_delete=DO_NOTHING) {% endcomment %} 
{% include "event-list.html" %} 
{% comment %} Today's event listing sends {% endcomment %}
{% endblock %}
